@using AuxDesk.Components.Pages

<div class="p-2" style="max-width: 380px;">
    <h5><b>Tools</b></h5>

    <div class="p-2">
        <h6><b>Pomodoro</b></h6>
        <div class="mx-auto" style="max-width: fit-content;">
            <PomodoroTimer></PomodoroTimer>
        </div>
    </div>
</div>

            