@inject NavigationManager _navigationManager
@page "/desk"

<h3>AuxDesk</h3>

<div class="container">
    <div class="row gx-3">
        <div class="col">
            <div class="p-2">
                <h5><b>Weeks Tasks</b></h5>
                <div class="input-group mb-3  text-center">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" @bind="taskDate" aria-describedby="inputGroup-sizing-default">
                    
                </div>
                <button type="button" class="btn btn-primary" style="width:100%" @onclick="DirectToNewTask" ><b>+</b></button>
            </div>
        </div>
        <div class="col">
            <div class="p-2">Task</div>
        </div>
        <div class="col">
            <div class="p-2">Timer</div>
        </div>
        <div class="col">
            <div class="p-2">Analytics</div>
        </div>
    </div>
</div>

@code {
    DateOnly taskDate = DateOnly.FromDateTime(DateTime.UtcNow);

    private void DirectToNewTask()
    {
        _navigationManager.NavigateTo("/newTask");
    }
}
