@using Data;
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json

@page "/"

<h1>AuxDesk</h1>

@foreach (var task in listUserTasks)
{
    <div class="card" style="width: 18rem; margin-bottom: 4px; margin-top: 4px">
        <div class="card-body">
            <h5 class="card-title">@task.UserTaskData.Title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@task.AssignedDate</h6>
            <p class="card-text">@task.UserTaskData.Notes</p>
        </div>
    </div>
}

<input type="text" placeholder="Title..." @bind="taskTitle" />
<input type="text" placeholder="Notes..." @bind="taskNotes" />
<input type="number" placeholder="Priority" @bind="taskPriority" />
<input type="date" @bind="taskDate"/>
<button @onclick="AddTask">Add task</button>

@code {
    private List<UserTask> listUserTasks = new();
    private string? taskTitle;
    private string? taskNotes;
    private int taskPriority;
    private int taskEffort;
    private DateOnly taskDate;

    // Load tasks once initialized
    protected override void OnInitialized()
    {
        taskDate = DateOnly.FromDateTime(DateTime.UtcNow);
        Load();
    }

    private async Task AddTask()
    {
        if (!string.IsNullOrWhiteSpace(taskTitle))
        {
            string taskGUID = Guid.NewGuid().ToString();

            TaskData taskData = new TaskData
            {
                TaskGUID = taskGUID,
                Title = taskTitle,
                Notes = taskNotes,
            };

            listUserTasks.Add(new UserTask { 
                TaskGUID = taskGUID,
                AssignedDate = taskDate,
                Priority = taskPriority,
                UserTaskData = taskData
            });

            taskTitle = string.Empty;
            taskNotes = string.Empty;
            taskPriority = 0;
            taskDate = DateOnly.FromDateTime(DateTime.UtcNow);

            await Save();
        }
    }
    private async Task Save()
    {
        var contents = JsonSerializer.Serialize(listUserTasks);

        // FileSystem.AppDataDirectory - points to your app’s sandboxed data folder
        var path = Path.Combine(FileSystem.AppDataDirectory, "userTasks.json");

        File.WriteAllText(path, contents);

        Console.WriteLine("List Saved", $"List has been saved to {path}");
    }
    private void Load()
    {
        var path = Path.Combine(FileSystem.AppDataDirectory, "userTasks.json");
        if (!File.Exists(path))
            return;
        var contents = File.ReadAllText(path);
        var savedItems = JsonSerializer.Deserialize<List<UserTask>>(contents);
        listUserTasks.Clear();
        listUserTasks.AddRange(savedItems);
    }
}